.footer {
  background-image: url("../../../asset/images/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer div > p {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 0.4rem;
}
